In [1]:
type(10)

int

In [2]:
type(10.0)

float

In [3]:
type('Hello')

str

Variables Assignment

In [5]:
#Syntax #Var_name=vlaues

In [6]:
a=10
b=20

In [7]:
print(a/b)

0.5

In [8]:
print('Krishna')

Krishna

In [12]:
f='Yash'
l= 'Singh'
#Ordering of format
print('My first name is {} and last name is {}'.format(f,l))

My first name is Yash and last name is Singh

In [14]:
print('My first name is {} and last name is {}'.format(l,f)) # Formating sequence is more important

My first name is Singh and last name is Yash

In [15]:
type([1,2,3,4,5])

list

In [16]:
type(['hello', 2,3,4,5,6])

list

Python Data Structures and Boolean
1. Boolean
2. Boolean and Logical Operators
3. Lists
4. Comparision Operators
5. Dictionaries
6. Tuples
7. Sets

Boolean Variables
Boolean values are two contant objects False and True
They are used to represent truth values( other values can also be considered false or true)

In [17]:
bool()

False

In [18]:
print(True, False)

True False

In [19]:
type(False)

bool

In [20]:
type(True)

bool

In [29]:
my_str='Yash123'

In [30]:
my_str.isalnum()

True

In [31]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isdigit())
print(my_str.istitle())
print(my_str.isupper())
print(my_str.islower())
print(my_str.isspace())
print(my_str.endswith('h'))
print(my_str.startswith('Y'))

True
False
False
True
False
False
False
False
True

Boolean and Logical Operators

In [32]:
True and True

True

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
str_='Hello World'
my ='Yash'

In [39]:
my.isalpha()or str_.isnumeric()

True

In [41]:
my.isalpha()and str_.isnumeric()

False

Lists

#A lsit is a Data Structure in Python that is mutable or changable, ordered sequence of elements.
#Each Elements or value that is inside of a list is called an item, just as strings are defiened as characters between quotes, lists are defiened by having values between square brackets []

In [42]:
type([])

list

In [43]:
lst_example=[]

In [44]:
type(lst_example)

list

In [45]:
lst=list()

In [46]:
type(lst)

list

In [1]:
lst=['Mathmatics', 'chemistry',100,1100,4500,5500]

In [2]:
type(lst)

list

In [3]:
len(lst)

6

Append

In [4]:
lst.append('Krish')

In [5]:
lst

['Mathmatics', 'chemistry', 100, 1100, 4500, 5500, 'Krish']

In [6]:
lst.append(['Krishna','Radhey'])

In [7]:
lst

['Mathmatics',
 'chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey']]

In [58]:
lst[3]

1100

In [59]:
lst[1:5]

['chemistry', 100, 1100, 4500]

In [8]:
lst.append('Bhole')

In [9]:
lst

['Mathmatics',
 'chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey'],
 'Bhole']

Extend

In [10]:
lst1=[1,2,3,4,5,57,7]

In [13]:
lst1.extend([8,9])

In [14]:
lst1

[1, 2, 3, 4, 5, 57, 7, 8, 9]

In [15]:
lst.extend(['Bhole Bhandari', 'I am powerful soul','I am always Happy','I am calm in every situation',
            'God always with me','I am Healthy','My home is heaven'])

In [16]:
lst

['Mathmatics',
 'chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey'],
 'Bhole',
 'Bhole Bhandari',
 'I am powerful soul',
 'I am always Happy',
 'I am calm in every situation',
 'God always with me',
 'I am Healthy',
 'My home is heaven']

In [17]:
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
lst1

[1, 2, 3, 4, 5, 57, 7, 8, 9]

In [19]:
sum(lst1)

96

Pop() Method

In [20]:

lst1.pop()

9

In [21]:
lst1

[1, 2, 3, 4, 5, 57, 7, 8]

In [22]:
lst.pop()

'My home is heaven'

In [23]:
lst

['Mathmatics',
 'chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey'],
 'Bhole',
 'Bhole Bhandari',
 'I am powerful soul',
 'I am always Happy',
 'I am calm in every situation',
 'God always with me',
 'I am Healthy']

In [24]:
lst.pop(0)

'Mathmatics'

In [25]:
lst

['chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey'],
 'Bhole',
 'Bhole Bhandari',
 'I am powerful soul',
 'I am always Happy',
 'I am calm in every situation',
 'God always with me',
 'I am Healthy']

count():  Calculates the total occurence of given element of List !

In [26]:
lst.count()

TypeError: count() takes exactly one argument (0 given)

In [27]:
lst.count(1)

0

In [28]:
lst

['chemistry',
 100,
 1100,
 4500,
 5500,
 'Krish',
 ['Krishna', 'Radhey'],
 'Bhole',
 'Bhole Bhandari',
 'I am powerful soul',
 'I am always Happy',
 'I am calm in every situation',
 'God always with me',
 'I am Healthy']

Index Returns the index of first occurence. Start and End index are not necessary parameters

In [30]:
lst.index(100,0,4)

1

In [31]:
lst.index(5500,0,8)

4

In [32]:
lst.index(4500)

3

In [34]:
min(lst)

TypeError: '<' not supported between instances of 'int' and 'str'

In [35]:
min(lst1)

1

In [36]:
max(lst1)

57

Various Operations that we can perform in List

In [37]:
ls=[1,2,3,4,5,6]

In [38]:
sum(ls)

21

In [39]:
max(ls)

6

In [40]:
min(ls)

1

In [41]:
ls*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

SETS
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a Hash Table.

In [49]:
## Defining an any empty set 
set_var=set()

In [50]:
print(set_var)

set()

In [51]:
print(type(set_var))

<class 'set'>

In [57]:
set_var={'Avengers', 'IronMan','Hitman', 'Avengers'}
print(set_var)
type(set_var)

{'Hitman', 'Avengers', 'IronMan'}

set

In [58]:
set_var={1,2,3,4,4,3}

In [59]:
set_var

{1, 2, 3, 4}

In [62]:
# Indexing ; Set does not supporting Indexing  Does not supporting Indexing
set_var[1]

TypeError: 'set' object is not subscriptable

In [63]:
set_var['Avengers']

TypeError: 'set' object is not subscriptable

In [65]:
set_var.add('Huks')

In [66]:
set_var

{1, 2, 3, 4, 'Huks'}

In [67]:
set_var.update('Krishna')

In [68]:
set_var

{1, 2, 3, 4, 'Huks', 'K', 'a', 'h', 'i', 'n', 'r', 's'}

In [91]:
set1={'Avengers','IronMan','Hitman'}
set2={'Avengers','IronMan','Hitman','Hulk'}

In [93]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [96]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [97]:
set2

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [99]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'IronMan'}

In [101]:
set2

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [102]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [104]:
set2.intersection_update(set1)

In [106]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [108]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [83]:
## Difference, Remove the common elements of set2 and in set1 
set2.difference(set1)

{'Hulk'}

In [84]:
set2

{'Hulk'}

In [85]:
## Difference update
set2.difference_update(set1)

In [86]:
set2

{'Hulk'}

In [87]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [88]:
print(set2)

{'Hulk'}

In [89]:
print(set1)

{'Hitman', 'Avengers', 'IronMan'}

In [90]:
set2.intersection(set1)

set()

Main difference of between Set and Dict is No key required in set and Dict require Key.

Dictionary does not have Index; it have Key instead of index

mydict.items() contains Key and Value pairs
while mydict.values() contains only value
while mydict:

In [109]:
mydict={'car1':'Audi','car2':'Jaguar','car3':'Mercideze Benz'}

In [110]:
mydict

{'car1': 'Audi', 'car2': 'Jaguar', 'car3': 'Mercideze Benz'}

In [112]:
for x in mydict:
    print(x)

car1
car2
car3

In [113]:
for x in mydict.values():
    print(x)

Audi
Jaguar
Mercideze Benz

In [114]:
for x in mydict.items():
    print(x)

('car1', 'Audi')
('car2', 'Jaguar')
('car3', 'Mercideze Benz')

In [115]:
mydict['car4']='BMW'

In [116]:
mydict

{'car1': 'Audi', 'car2': 'Jaguar', 'car3': 'Mercideze Benz', 'car4': 'BMW'}

In [117]:
mydict['car1']='Farari'

In [118]:
mydict

{'car1': 'Farari', 'car2': 'Jaguar', 'car3': 'Mercideze Benz', 'car4': 'BMW'}

In [119]:
car1_model={'Ferrari':1990}
car2_model={'audi':1980}
car3_model={'BMW':2000}
car4_model={'Mercedeze':2002}
car_type={'car1':car1_model, 'car2':car2_model,'car3':car3_model,'car4':car4_model}

In [120]:
print(car_type)

{'car1': {'Ferrari': 1990}, 'car2': {'audi': 1980}, 'car3': {'BMW': 2000}, 'car4': {'Mercedeze': 2002}}

In [122]:
car_type['car1']

{'Ferrari': 1990}

In [123]:
car_type['car1']['Ferrari']

1990

Tuples

Assignment of single value does not support in Tuples.

'tuple' object does not support item assignment

Assignment of full tuple can be done.

In [124]:
mytuple=tuple()

In [125]:
print(mytuple)

()

In [126]:
mytuple=('Radha','Krishna','Gopal')

In [127]:
mytuple

('Radha', 'Krishna', 'Gopal')

In [128]:
mytuple[1]='Banke Bihari'

TypeError: 'tuple' object does not support item assignment

In [129]:
mytuple=('Bhureka','Kalizari','Balbir Nagar')

In [130]:
mytuple

('Bhureka', 'Kalizari', 'Balbir Nagar')

In [134]:
# all elements are replaced not changed
mytuple('Bhureka')

TypeError: 'tuple' object is not callable

In [135]:
#Inbuilt Function
mytuple.count('Kalizari')

1

In [136]:
mytuple.index('Bhureka')

0